* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #333;
}

.circular-slider {
    background: radial-gradient(#fdb76d, #f08a00);
    min-height: 100vh;
    height: 40em;
    padding: 1em 2em 0 2em;
    color: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.text:not(:nth-child(3)) {
    display: none;
}

.text h1 {
    font-size: 5em;
    margin: 0.5em 0;

}

.text p {
    max-width: 750px;
    margin: 0 auto;
    font-size: 2.5em;
}

.slider {
    position: absolute;
    bottom: -40vw;
    left: 50%;
    transform: translateX(-50%);
}

.slider .img {
    width: 70vw;
    height: 70vw;
    max-width: 800px;
    max-height: 800px;
    background: url(img/img3.png) no-repeat center;
    background-size: cover;
    transition: 2s;
}

.indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vw;
    max-width: 900px;
    max-height: 900px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: transform 300ms;
}

.indicator::before {
    content: '';
    position: absolute;
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 50%;
}

.menu , .menu div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vw;
    max-width: 950px;
    max-height: 950px;
    border-radius: 50%;
}

.menu span {
    font-size: 2.2em;
    position: absolute;
    top: -1em;
    left: 50%;
    transform:translateX(-50%);
    cursor: pointer;
    text-align: center;
}

.menu span:hover {
    color: #ccc;
}

.menu div:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-58deg);
}

.menu div:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-32deg);
}

.menu div:nth-child(3) {
    transform: translate(-50%, -50%) rotate(0deg);
}

.menu div:nth-child(4) {
    transform: translate(-50%, -50%) rotate(32deg);
}

.menu div:nth-child(5) {
    transform: translate(-50%, -50%) rotate(58deg);
}


@media screen and (min-width: 800px) {
    .slider {
        bottom: -22em
    }
}